[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dev-common = {editable = true, path = "./dev-common"}
dev-app = {editable = true, path = "./dev-app"}

[dev-packages]

[requires]
python_version = "3.6"
